apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb-replicaset
  namespace: demo-crm
spec:
  members: 2
  type: ReplicaSet
  version: "6.0.5"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: crmuser
      db: admin
      passwordSecretRef:
        name: mongodb-crmuser-password
      roles:
        - name: readWrite
          db: democrm
      scramCredentialsSecretName: crmuser-scram

