apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 65.1.0
      helm:
        valueFiles:
          - $values/infra-apps/values/kube-prometheus-stack/values.yaml
    - repoURL: https://github.com/tziyon31/demo-crm-gitops.git
      targetRevision: main
      ref: values

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
