fluent-bit:
  env:
    - name: ES_USER
      valueFrom:
        secretKeyRef:
          name: elasticsearch-master-credentials
          key: username
    - name: ES_PASS
      valueFrom:
        secretKeyRef:
          name: elasticsearch-master-credentials
          key: password
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName

  # Override default volumes to remove /etc/machine-id hostPath
  daemonSetVolumes:
    - name: varlog
      hostPath:
        path: /var/log
    - name: varlibdockercontainers
      hostPath:
        path: /var/lib/docker/containers

  daemonSetVolumeMounts:
    - name: varlog
      mountPath: /var/log
    - name: varlibdockercontainers
      mountPath: /var/lib/docker/containers
      readOnly: true

  config:
    service: |
      [SERVICE]
          Daemon Off
          Flush 1
          Log_Level debug
          Parsers_File /fluent-bit/etc/parsers.conf
          Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
          HTTP_Server On
          HTTP_Listen 0.0.0.0
          HTTP_Port 2020
          Health_Check On

    customParsers: |
      [PARSER]
          Name        nginx
          Format      regex
          Regex       ^(?<remote>[^ ]*) (?<ident>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]+)\] "(?<method>[A-Z]+) (?<uri>[^ ]+) (?<protocol>[^\"]+)" (?<status>[0-9]+) (?<bytes_sent>[0-9]+) "(?<referer>[^\"]*)" "(?<agent>[^\"]*)".*
          Time_Key    time
          Time_Format %d/%b/%Y:%H:%M:%S %z

      [PARSER]
          Name        rando
          Format      json
          Time_Key    time
          Time_Format %Y-%m-%dT%H:%M:%S.%L
          Time_Keep   On

    inputs: |
      [INPUT]
          Name tail
          Path /var/log/containers/*nginx*.log
          Parser nginx
          Tag nginx.*
          Inotify_Watcher Off
          Refresh_Interval 5
          Rotate_Wait 30
          Mem_Buf_Limit 5MB
          Skip_Long_Lines On
          Docker_Mode On
          Docker_Mode_Flush 4

      [INPUT]
          Name tail
          Path /var/log/containers/*rando*.log
          Parser rando
          Tag rando.*
          Inotify_Watcher Off
          Refresh_Interval 5
          Rotate_Wait 30
          Mem_Buf_Limit 5MB
          Skip_Long_Lines On
          Docker_Mode On

      [INPUT]
          Name tail
          Path /var/log/containers/*.log
          multiline.parser docker, cri
          Tag kube.*
          Inotify_Watcher Off
          Refresh_Interval 5
          Mem_Buf_Limit 5MB
          Skip_Long_Lines On

      [INPUT]
          Name systemd
          Tag host.*
          Systemd_Filter _SYSTEMD_UNIT=kubelet.service
          Read_From_Tail On

    filters: |
      [FILTER]
          Name kubernetes
          Match kube.*
          Merge_Log On
          Keep_Log Off
          K8S-Logging.Exclude On

      [FILTER]
          Name kubernetes
          Match nginx.*
          Merge_Log On
          Keep_Log Off
          K8S-Logging.Exclude Off
          K8S-Logging.Parser On

      [FILTER]
          Name kubernetes
          Match rando.*
          Merge_Log On
          Keep_Log Off
          K8S-Logging.Exclude On
          K8S-Logging.Parser Off

      [FILTER]
          Name record_modifier
          Match *
          Record node ${NODE_NAME}

      [FILTER]
          Name modify
          Match *
          Remove kubernetes.labels

    outputs: |
      [OUTPUT]
          Name es
          Match kube.*
          Host elasticsearch-master
          Port 9200
          tls On
          tls.verify Off

          Logstash_Format Off
          Suppress_Type_Name On
          Index kubernetes-logs
          Replace_Dots On
          Trace_Error Off

          HTTP_User ${ES_USER}
          HTTP_Passwd ${ES_PASS}

      [OUTPUT]
          Name es
          Match host.*
          Host elasticsearch-master
          Port 9200
          tls On
          tls.verify Off

          Logstash_Format Off
          Suppress_Type_Name On
          Index node-logs
          Replace_Dots On
          Trace_Error Off

          HTTP_User ${ES_USER}
          HTTP_Passwd ${ES_PASS}