logLevel: info

# Environment variables for Fluent Bit container
env:
  - name: ES_USER
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: username
  - name: ES_PASS
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password

# luaScripts:
#   setIndex.lua: |
#     function set_index(tag, timestamp, record)
#         index = "dakar-"
#         if record["kubernetes"] ~= nil then
#             if record["kubernetes"]["namespace_name"] ~= nil then
#                 if record["kubernetes"]["container_name"] ~= nil then
#                     record["es_index"] = index
#                         .. record["kubernetes"]["namespace_name"]
#                         .. "-"
#                         .. record["kubernetes"]["container_name"]
#                     return 1, timestamp, record
#                 end
#                 record["es_index"] = index
#                     .. record["kubernetes"]["namespace_name"]
#                 return 1, timestamp, record
#             end
#         end
#         return 1, timestamp, record
#     end

config:
  service: |
    [SERVICE]
        Daemon Off
        Flush {{ .Values.flush }}
        Log_Level debug
        Parsers_File /fluent-bit/etc/parsers.conf
        Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port {{ .Values.metricsPort }}
        Health_Check On
        Trace_Error On

  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/rando*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 100MB
        Skip_Long_Lines On
        Refresh_Interval 5

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail On

  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        Buffer_Size False
        K8S-Logging.Parser On
    
  outputs: |
    [OUTPUT]
        Name es
        Match kube.*
        Host elasticsearch-master
        Port 9200
        Logstash_Format On
        TLS On
        TLS.Verify Off
        HTTP_User ${ES_USER}
        HTTP_Passwd ${ES_PASS}
        Retry_Limit False

    [OUTPUT]
        Name es
        Match host.*
        Host elasticsearch-master
        Port 9200
        Logstash_Format On
        TLS On
        TLS.Verify Off
        HTTP_User ${ES_USER}
        HTTP_Passwd ${ES_PASS}
        Retry_Limit False
